<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
  <link rel="stylesheet" href="../static/style.css">
<title>Anurag-Dance-Academy</title>
</head>
<body>
<div class="container">
  <ul class="nav">
    <div><a href="#"><img class="logo" src="../static/logo.jpg" alt=""></a></div>
    <div class="img">ADA</div>
    <li class="iteam"><a href="/">Home</a></li>
    <li class="iteam"><a href="/About">About</a></li>
    <li class="iteam"><a href="/Services">Services</a></li>
    <li class="iteam"><a href="/Contactus">Contact US</a></li>
  </ul>
</div>
<section id="section"><div class="h3">
  <h3>Welcome To Anurag Dance Academy Eat Sleep Dance Repeat</div>
</section>
<section id="msection">
  <div class="h2">
  <h2>OUR MISSION</h2>
</div>
  <div class="box">
    <p>Dance Perfection</p>
    <p>Dance the way you like</p>
    <p>Expert Teaching</p>
  </div>
</section>
<section id="mysection"><div class="h4">
  <h4>OUR SPONSORS</h4></div>
  <section class="Mysection">
  <div class="sp"><img src="../static/Hp.png" alt=""></div>
  <div class="sp"><img src="../static/apple.jpg" alt=""></div>
  <div class="sp"><img src="../static/Dell.png" alt=""></div>
  <div class="sp"><img id="apple" src="../static/Ms.png" alt=""></div>
</section>
</section>
<footer id="footer">
  <h3>Copyright &copy; 2020  Anurag-Dance-Academy.com </h3>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="../static/ada.js"></script>
</body>
 </html>   










