@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
img{
    height: 4vh;
}
nav{
    background-color: rgb(149 164 186);
    display: flex;
    justify-content: space-between; 
    font-family: 'Edu NSW ACT Foundation';
}
.img1{
    display: none;
    font-size: 34px;
} 
.img{
    display: flex;
    align-items:center;
    justify-content: space-around;
    position: absolute;
    margin-left: 50px;
    font-size: 25px;
    
}
nav .mainMenu{
    display: flex;
    flex-direction: row;
    list-style: none;
    position: absolute;
    margin: -5px 105px;
}
nav .mainMenu li a{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    transition: 0.2s ease;
}
nav .mainMenu li a:hover{
    background-color: silver;
    margin: -4px 0px;
}
nav .openMenu{

    font-size: 2rem;
    margin: 0px 20px ;
    display: none;
    cursor: pointer;
    
}
nav .mainMenu .closeMenu , .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
nav .mainMenu li a:hover{
    background-color: silver;
}
.fa-facebook:hover{color: rgb(0,110,255);}
.fa-twitter:hover{color: rgb(86,154,243);}
.fa-instagram:hover{color: rgb(255,0,191);}
.fa-github:hover{color: rgb(255,123,0);}

#section{
    flex-direction: column;
    justify-content: center;
    display: flex;
    background: url('/static/section2.jpg.jpg') center/cover no-repeat;
    height: 92vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
   margin-bottom: 0rem -6.2rem;
}
.h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.4rem;
    font-family: 'Edu NSW ACT Foundation';
    color: #1a68de;
    position: sticky;

}
.h2{
    color: #ffffff;
    font-size: 2.5rem;
    font-family: 'Edu NSW ACT Foundation';
    display: flex;
    justify-content: center;
}
.h4{
    color: white;
    font-size: 3.6rem;
    display: flex;
    justify-content: center;
}

#msection{
    height: 68vh;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-bottom: 0.9rem;
    background-color: slategrey;
    background: url("/static/section.jpg.jpg") center/cover no-repeat;
}
.box p{
    text-align: center;
    font-size: 3.3rem;
    padding:  6.5rem 4.6rem;
    color: #a6d5d0;
}
.box{ 
   font-size: 1.0rem;
   display: flex;
   justify-content: center;
   margin: 7.0rem 0rem;
   font-family: 'Edu NSW ACT Foundation';
   
   }
#mysection{
    height: 30vh;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    font-family: 'Edu NSW ACT Foundation';
   }
.sp{
    height: 26vh;
    margin: 3.4rem 0rem; 
   }
.sp img{
    height: inherit;
    display: flex;
   width: 36%;
   justify-content: space-between;
   position: relative;
   margin-left: 153px;

   }
footer{
    background-color:rgb(133, 180, 213);
    height: 3vh;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Edu NSW ACT Foundation';
   }
   h3{
    margin: 0px 6px;
   }
   @media (max-width:900px) and (min-width:785px) {
    html{
        font-size:53%;
    }
   }
   @media (max-width:784px) and (min-width:600px) {
    html{
        font-size:42%;
    }
   }
   @media (max-width:599px) and (min-width:500px) {
    html{
        font-size:35%;
    }
   }
   @media (max-width:499px) and (min-width:300px) {
    html{
        font-size:25%;
    }
   }
   /* @media (max-width:1341px) and (min-width:1053px) {
    .sp img{
        margin: 0rem 47rem;
    } */
}
            @media(max-width:1200px){
                nav .mainMenu{
                height: 100vh;
                position: fixed;
                top: 0;
                right: -105px;
                left: -105px;
                z-index: 10;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color:  rgb(149 164 186);;
                transition: top 1s ease 0s;
                display: none;
                font-size: 46%;
                }
                nav .mainMenu .closeMenu{
                    display: block;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
                nav .openMenu{
                    display: block;
                    display: flex;
                align-items: center;
                justify-content: space-between; 
                }
                nav .mainMenu li a:hover{
                    background: none;
                    color: silver;
                    font-size: 2rem;
                }
              .icons i{
                display: inline-block;
                padding: 12px;
              }
              .img1{
                display: block;
              }
            }