@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
html{
    font-size: 62.5%;
}
*{
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    box-sizing: border-box;
}
nav{
    background-color: rgb(149 164 186);
    display: flex;
    justify-content: space-between; 
    font-family: 'Edu NSW ACT Foundation';
}
.img1{
    display: none;
    font-size: 34px;
} 
.img{
    display: flex;
    align-items:center;
    justify-content: space-around;
    position: absolute;
    margin-left: 50px;
    font-size: 25px;
}
nav .mainMenu{
    display: flex;
    flex-direction: row;
    list-style: none;
    position: absolute;
    margin: -5px 105px;
}
nav .mainMenu li a{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    transition: 0.2s ease;
}
nav .mainMenu li a:hover{
    background-color: silver;
    margin: -4px 0px;
}
nav .openMenu{
    font-size: 2rem;
    margin: 0px 20px ;
    display: none;
    cursor: pointer;
    
}
nav .mainMenu .closeMenu , .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
nav .mainMenu li a:hover{
    background-color: silver;
}
.fa-facebook:hover{color: rgb(0,110,255);}
.fa-twitter:hover{color: rgb(86,154,243);}
.fa-instagram:hover{color: rgb(255,0,191);}
.fa-github:hover{color: rgb(255,123,0);}
img{
    height: 4vh;
}
.myform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.0rem 0rem;
}
.form{
    margin: 0.7rem 0rem;
    text-align: center;
    border-radius: 1.0rem;
    border: 0.3rem solid #54696a;
    font-family: 'Edu NSW ACT Foundatio';
    width: 27%;
    background:space;
}
.form:hover{
    background-color:#ddebea;
}
.form::placeholder{
color: rgb(11, 16, 19);
}
.contact{
    text-align: center;
    font-family: 'Edu NSW ACT Foundation';
    font-size: 5.1rem;
    margin-top: -12.9rem;
}
#myaddress{
    width: 21%;
    height: 6vh;
}
#myemail{
    width: 19%;
    height: 5vh;
}
#myphone{
    width: 15%;
    height: 5vh;
}
#myname{
    width: 12%;
    height: 4vh;
}
.btn{
    border: 0.3rem solid #54696a;
    border-radius: 1.0rem;
    background: space;
}
.btn:hover{
    background-color:#ddebea;
}
footer{
    background-color:rgb(133, 180, 213);
    height: 3vh;
    text-align: center;
   }
   h3{
    font-family: 'Edu NSW ACT Foundation';
   }
.imgbody{
    background: url('/static/contact.png') center/cover no-repeat;
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100%;
}

@media(max-width:1000px){
    .form{
        width: 58%  
    }
    #myaddress{
        width: 43%;
    }
    #myemail{
        width: 38%;
    }
    #myphone{
        width: 35%;
    }
    #myname{
        width: 32%;
    }
    nav .mainMenu{
    height: 100vh;
    position: fixed;
    top: 0;
    right: -105px;
    left: -105px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgb(149 164 186);;
    transition: top 1s ease 0s;
    display: none;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu{
        display: block;
        display: flex;
    align-items: center;
    justify-content: space-between; 
    }
    nav .mainMenu li a:hover{
        background: none;
        color: silver;
        font-size: 1.6rem;
    }
  .icons i{
    display: inline-block;
    padding: 12px;
  }
  .img1{
    display: block;
  }
}